@media(min-width:768px) {
    input,
    select {
        width: 60%;
        padding: 10px
    }
}

@media(max-width:768px) {
    input,
    select,
    option {
        width: 95%;
        padding: 10px
    }
    .row {
        padding-top: 6%;
        margin-left: 1%;
    }
}

.agreement {
    font-style: italic;
}