body {
    padding-top: 40px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}


/*.navbar-fixed-top .nav {
    padding: 2px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 2px;
}*/

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 90px;
        /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
    input {
        width: 50%;
        padding: 10px
    }
}

@media(max-width:768px) {
    input {
        width: 100%;
    }
}

.errorMsg {
    color: red;
    font-weight: bold;
}