<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Brand Name</h1>
            <p>This space is for brand descriptions.This space is for brand descriptions.This space is for brand descriptions.This space is for brand descriptions</p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/addnew']">Find a Match!</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Recent Matches
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <!--<div class="row">
        <div class="thumbnail recentMatches col-md-4" *ngFor="let data of matchData">
            <h3>{{data.from | uppercase}} -> {{data.to | uppercase}}</h3>
            <p>date: {{data.date}}</p>
            <p>status: <span [style.color]="data.status === 'pending' ? 'red' : 'green'">{{data.status}}</span></p>
            <button type="button" class="btn btn-default btn-lg" href="#" data-toggle="modal" data-target="#myModal">More Info</button>
        </div>
        
</div>-->
    <!-- /.row -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Journey</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->