<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Brand Name</h1>
            <p>This space is for brand descriptions.This space is for brand descriptions.This space is for brand descriptions.This space is for brand descriptions</p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/addnew']">Book Now!</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Upcoming Trips
                <button class="btn btn-default btn-xs pull-right" (click)="refresh()">Refresh</button>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="thumbnail recentMatches col-md-4" *ngFor="let data of matchData">
            <h3>{{data.from | uppercase}} -> {{data.to | uppercase}}</h3>
            <p>date: {{data.doj}}</p>
            <p>status: <span [style.color]="data.status === 'pending' ? 'red' : 'green'">{{data.status}}</span></p>
            <button type="button" class="btn btn-default btn-lg" (click)="openModal(data)">More Info</button>
        </div>

    </div>
    <!-- /.row -->
    <!-- Modal -->
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content" *ngIf="populateModal.status !== 'pending'">
                <div class="modal-header">
                    <!--<button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title">{{populateModal.from}} to {{populateModal.to}}</h4>
                </div>
                <div class="modal-body">
                    <p>You are Pooling with:{{populateModal.partner.name}}</p>
                    <p>Partner's Contact No:{{populateModal.partner.contactNo}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                </div>
            </div>
            <div class="modal-content" *ngIf="populateModal.status == 'pending'">
                <div class="modal-body">
                    <h3>Hang on! We are mapping best match for You</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal !-->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->